<h1>Create New Credit Pool</h1>

<%= form_with url: '/credit_pools', method: :post do |f| %>
  <%= label :credit_pools, :school_name, 'School Name', :class => 'col-form-label' %>
  <%= text_field :credit_pools, :school_name, :class => 'form-control' %>
  <%= label :credit_pools, :credits, 'Credits', :class => 'col-form-label'  %>
  <%= number_field :credit_pools, :credits, :class => 'form-control' %>
  <%= label :credit_pools, :email_suffix, 'Email Suffix', :class => 'col-form-label'  %>
  <%= text_field :credit_pools, :email_suffix, :class => 'form-control' %>
  <%= label :credit_pools, :id_name, 'ID Alias', :class => 'col-form-label'  %>
  <%= text_field :credit_pools, :id_name, :class => 'form-control' %>
  <%= label :credit_pools, :logo_url, 'URL to Logo', :class => 'col-form-label'  %>
  <%= text_field :credit_pools, :logo_url, :class => 'form-control' %>

  <br/>
  <%= submit_tag 'Create Credit Pool', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', credit_pools_path, :class => 'btn btn-secondary' %>
<% end %>