<div>
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= @user.uin %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @user.user_type %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= @user.credits %>
  </p>

</div>