<h2>Create New User</h2>

<%= form_with url: '/users', method: :post do |f| %>
  <%= label :user, :uin, 'UIN', :class => 'col-form-label' %>
  <%= text_field :user, :uin, :class => 'form-control' %>
  <%= label :user, :user_type, 'User Type*', :class => 'col-form-label'  %>
  <%= select :user, :user_type, ['donor', 'recipient'], {}, :class => 'form-control' %>
  <p>*You need to have 10 or less credit to qualify for a recipient account</p>

  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', root_path, :class => 'btn btn-secondary' %>
<% end %>
