<%= link_to "Logout", logout_path %>
<h2>Howdy <%= @user.name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Number of credits:</strong>
    <%= @user.credits %>
  </p>

  <!--
  <a href="<%=  %>">
    <button>Donate Credits</button>
  </a>
  <a href="<%=  %>">
    <button>Recieve Credits</button>
  </a>
  -->
</div>