<%= stylesheet_link_tag "profile" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Protest+Riot&family=Quicksand:wght@300..700&display=swap", media: 'all' %>

<div class="outerDiv">
  <div id="user-details">
    <div class="titleDiv">
      <p class="title">User Profile</p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>UIN:</strong>
        <%= @user.uin %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Credits:</strong>
        <%= @user.fetch_num_credits %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Type:</strong>
        <%= @user.user_type %>
      </p>
    </div>
  </div>
</div>