<%= stylesheet_link_tag "profile" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Protest+Riot&family=Quicksand:wght@300..700&display=swap", media: 'all' %>

<div class="outerDiv">
  <div id="user-details">
    <div class="titleDiv">
      <p class="title"><% if @user.admin %>Administrator<% else %>User<% end %> Profile</p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong><%= @id_name %>:</strong>
        <%= @user.uid %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Credits:</strong>
        <%= @user.fetch_num_credits %>
      </p>
    </div>

    <div class="charDiv">
      <p class="char">
        <strong>Type:</strong>
        <%= @user.user_type %>
      </p>
    </div>
  </div>

  <%= form_with url: :user_update_type, method: :post, data: { turbo_action: "replace", turbo_frame: "user-details" } do |form| %>
    <% if @user.user_type == "donor" %>
        <%= form.hidden_field :new_user_type, value: "recipient" %>
        <%= form.submit "Change to Recipient", class: "actionBtn", data: { turbo_confirm: "Are you sure you want to change account types?" } %>
    <% else %>  
      <%= form.hidden_field :new_user_type, value: "donor" %>
      <%= form.submit "Change to Donor", class: "actionBtn", data: { turbo_confirm: "Are you sure you want to change account types?" }  %>
    <% end %>
  <% end %>

  <div class="actionBtn">
      <%= link_to "Log Out", logout_path %>
  </div>

  <% if @user_school.present? && @user_school.logo_url.present? %>
    <%= image_tag @user_school.logo_url, class: "school-logo" %>
  <% end %>
</div>