<%= link_to "Logout", logout_path %>
<h2>Howdy <%= @user.name %>!</h2>
<div id="user-details">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= @user.uin %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= @user_credit %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @user.user_type %>
  </p>

  <div class="row">
    <p><%= link_to "Go to Transfer", user_transfer_path if @user.user_type == "donor"%></p>
  </div>

  <div class="row">
    <p><%= link_to "Go to Receive", user_receive_path if @user.user_type == "recipient"%></p>
  </div>

  <div class="row">
    <p><%= link_to "Go to Transactions", transactions_path %></p>
  </div>
</div>