<%= stylesheet_link_tag "transfer" %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Protest+Riot&family=Quicksand:wght@300..700&display=swap", media: 'all' %>

<div class='outerDiv'>
    <div class='heading'>
        <p class="title">Transfer Credits</p>
        <p class="char">Donate meal credits to the pool today!</p>
        <p class="char-center">User Credits: <%=@user.fetch_num_credits%></p>
        <p class="char-center">Pool Credits: <%=@creditpool.credits%></p>
    </div>
    <div class="creditDiv">
        <form action="/users/profile/transfer/transfer_donor_credits" method='post'>
            <label for='credit-amount'>Enter a credit amount: </label>
            <input type="number" step="1" min="1" id='credit-amount' class="margin-input" name="credits"/>
            <input name="credit-submission" type="submit" class="submit" value="Send Credits" />
        </form>
    </div>
    <%= link_to 'Schedule a Meeting', new_meeting_path %>
</div>
