<h1>Transactions</h1>
<p>
  Welcome, <%= User.find(session[:user_id]).name %>.
</p>
<p>
  Viewing transactions for UIN: <%= User.find(session[:user_id]).uin %>
</p>

<table id="transactions">
  <thead>
    <tr>
      <th>UIN</th>
      <th>Type</th>
      <th>Time</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= transaction.uin %>
        </td>
        <td>
          <%= transaction.transaction_type %>
        </td>
        <td>
          <%= transaction.time %>
        </td>
        <td>
          <%= transaction.amount %>
        </td>
        <td>
          <%= link_to "View transaction",  transaction_path(transaction) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

