<h1>Transaction Details</h1>
<ul id="details">
  <li>
    UIN:
    <%= @transaction.uid %>
  </li>
  <li>
    Type:
    <%= @transaction.transaction_type %>
  </li>
  <li>
    Time:
    <%= @transaction.time %>
  </li>
  <li>
    Amount:
    <%= @transaction.amount %>
  </li>
</ul>

<div class="row">
  <%= link_to 'Back to transactions', transactions_path, :class => 'btn btn-primary col-2' %>
</div>
