<h1>Transaction Details</h1>
<ul id="details">
  <li>
    UIN:
    <%= @transaction.uin %>
  </li>
  <li>
    Type:
    <%= @transaction.transaction_type %>
  </li>
  <li>
    Time:
    <%= @transaction.time %>
  </li>
  <li>
    Amount:
    <%= @transaction.amount %>
  </li>
</ul>

<div class="row">
  <%# <%= link_to 'Edit', edit_movie_path(@movie), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', transaction_path(@transaction), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to transactions', transactions_path, :class => 'btn btn-primary col-2' %>
</div>
